.language-switcher {
  position: relative;
  margin: 0 rem(7);
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    left: rem(-7);
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: rem(15);
    background: #2c3e50;
  }

  &--current {
    cursor: pointer;
  }

  &--list {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    list-style: none;

    li {
      cursor: pointer;
    }
  }
}
