.menu {
  margin-left: auto;

  a {
    margin: 0 rem(7);
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;

    &.router-link-exact-active,
    &.active {
      color: #42b983;
    }
  }
}
