.game-info {
  text-align: center;
  padding-bottom: rem(15);
  border-bottom: 1px solid #555;

  > div {
    display: inline-block;
    width: rem(200);

    .label {
      margin-right: rem(5);
    }

    .value {
      font-weight: bold;
    }
  }
}
